#head{
    padding: 35px;
    color:#f5f2d0;
    padding-bottom: 45px;
}
#contain{
    padding-left:50px;
    background-color: #F2AA4CFF;
}
#bg1{
    background-color: #101820FF;
}
#footer{
    all:none;
    background-color: #101820FF;
    padding: 10px;
    text-align:center;
    color:#f5f2d0;
    flex-wrap: wrap;
}
#linked{
    align-content: flex-start;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    height: 40px;
}
#copy{
    padding:5px;
    align-items: flex-end;
}